.row
    .col-xs-8
        h2 Pages in the index
    .col-xs-3
        .pull-right {{status}}
    .col-xs-1
        button.btn.btn-default(ng-click="refresh()") Refresh

.table-responsive
    table.table.table-striped
        thead
            tr
                th Page URL
                th Times Accessed
                th: .pull-right Links
        tbody
            tr(ng-repeat="(page, times) in pages | orderBy: page")
                td {{page}}
                td.visit-links: a(
                    ng-repeat="time in times",
                    ui-sref="pageVisit({id: '{{encode(page)}}', time: '{{time}}'})"
                )
                    | {{formatTime(time)}}
                    br
                td
                    .pull-right
                        a(ui-sref="pageSummary({id: '{{encode(page)}}' })")
                            | Summary
