.row
    .col-xs-12
        h2 Visit of {{pageUrl}}
.row
    .col-xs-12
        h3.visit-time {{visitTime}}
.row(ng-repeat="prop in visitProps")
    .col-xs-4
        h4 {{prop.display}}
    .col-xs-8
        | {{visitInfo[prop.propKey]}}
.row
    .col-xs-12
        h4 Headers
        .table-responsive
            table.table.table-striped.headers
                thead
                    tr
                        th Header
                        th Value(s)
                tbody
                    tr(ng-repeat="(name, values) in visitInfo['HEADERS']")
                        td {{name}}
                        td: span(ng-repeat="value in values") {{value}}
.row(ng-repeat="linkProp in linkProps | orderBy: display")
    .col-xs-12
        .panel.panel-default
            .panel-heading
                h4.panel-title {{linkProp.display}}
            .panel-collapse.collapse.in
                .panel-body.page-links
                    ul
                        li(ng-repeat="link in visitInfo[linkProp.propKey] | orderBy: link") {{link}}