doctype html
html
    head
        meta(charset="utf-8")

        title Widow Analyze

        // External libraries
        link(rel="stylesheet", href="lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="lib/highlightjs/styles/github.css")
        link(rel="stylesheet", href="css/widow.css")

        // External Libraries
        script(src="lib/jquery/dist/jquery.js")
        script(src="lib/bootstrap/dist/js/bootstrap.js")
        script(src="lib/lodash/lodash.js")

        script(src="lib/highlightjs/highlight.pack.js")

        // GAH EXTERNAL DEPENDENCIES
        script(src="https://www.google.com/jsapi")

        // Angular libraries
        script(src="lib/angular/angular.js")
        script(src="lib/angular-bootstrap/ui-bootstrap-tpls.js")
        script(src="lib/angular-ui-router/release/angular-ui-router.js")

        // Utils
        script(src="js/util/module.js")
        script(src="js/util/Encoding.js")

        // Modals
        script(src="js/controllers/modals/module.js")
        script(src="js/controllers/modals/RawContentModalController.js")

        // Controllers
        script(src="js/controllers/module.js")
        script(src="js/controllers/HomeController.js")
        script(src="js/controllers/PageSummaryController.js")
        script(src="js/controllers/PageVisitController.js")

        // Main app
        script(src="js/app.js")

body(ng-app="widow-analyze")
    nav.navbar.navbar-default.navbar-static-top
        .container
            .navbar-header
                a.navbar-brand Widow Analysis
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li(ng-repeat="link in navlinks")
                        a(ui-sref="{{link.sref}}", ui-sref-active="active")
                            | {{link.text}}
    div.container(ui-view)